<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-box">
        <h1>Login</h1>
    <form action="/login" method="post">
        <!--<label>First Name</label>
        <input type="text" name="firstName" placeholder="">-->
        <label>Email</label>
        <input type="text" name="email" placeholder="">
        <label>Password</label>
        <input type="password" name="password" placeholder="">
        <input type="submit" value="Submit">          
    </form>
    </div>
    <p class="para-2">Not have an account? <a href="/signup">Make a new account Here</a></p>

</body>
</html>